
.vs/ProjectEvaluation/

.vs/RequestHelper/config/

.vs/RequestHelper/DesignTimeBuild/

.vs/RequestHelper/FileContentIndex/

.vs/RequestHelper/v17/

RequestHelper.APITest/bin/Debug/net6.0/

RequestHelper.APITest/obj/Debug/net6.0/ref/

RequestHelper.APITest/obj/Debug/net6.0/refint/

RequestHelper.APITest/obj/Debug/net6.0/

RequestHelper/bin/Debug/netstandard2.1/

RequestHelper/obj/Debug/netstandard2.1/

RequestHelper/obj/

RequestHelper.APITest/obj/
